:root {
  --primary: #111111;
  --primary-text: #eeeeee;
  --secondary: #1dffff;
  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #ffffff;
}
a, a:root, a:link {color: rgb(255, 28, 28) !important;}
a:visited {color: rgb(0, 255, 0) !important;}